/* Color Palette - temporary comment to make copy paste easier
#220c10 - Licorice (faded black..?)     | #2B2d42 Dark Blue
#77b2f4 - Fresh Sky Blue                | #8D99AE - Light Blue
#506c64 - Storm Cloud (Dark Army Green) | #EDF2F4 - Blue/White
#77cbb9 - Pearl Aqua                    | #EF233C - Red
*/


/* Global styles
------------------------------------*/
html{
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
  margin:0; /* gets rid of default margin around whole page */
}
.content-wrap {
  max-width:950px;
  margin: 0 auto;
  padding: 60px 20px;
  overflow: auto;
}
h1, h2 {
  font-family: 'Lato', sans-serif;
  font-weight:900;
}
h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
  margin-top:0;
}

h3 {
  margin: 0;
}
a {
  color: lightpink;
}
a:hover {
  text-decoration:none;
}

main {
  clear:both;
}

.uppercase {
  text-transform:uppercase;
}



/* Header and Footer
------------------------------------*/

header, footer {
  background-color:grey;
  color:white;
}
/* header */
.main-profile-img {
  border-radius: 50%;
}
header {

}

header h1,
header h2 {
  color:;
  margin:0;
}

/* footer */
footer {
  text-align:center;
}

.contact-info-padding a{
  padding:15px;
  display:inline-block;
}

.social-icon:hover {
  font-size: 2em;
}

.dload {
  background: red;
  color:white;
  padding:10px;
  text-transform: uppercase;
  font-weight:600;
  position:relative;
  float:right;
  text-align: right;
}
.dload:hover {
  background: #EF5237;
  padding:20px;
  font-size: 1.2em;

}

/* CSS Combinator testing*/
/* h2 + div + p {
  border:5px solid Red;
}

  h2 ~ p {
    border:5px solid purple;
  } */

  /* Navigation
  ------------------------------------*/
nav {
  text-align:center;
  background: white;
  position: fixed;
  top: 0;
  /* width:100%; */
  right: 0;
  left:0;
}
nav a{
  display: inline-block;
  padding: 15px 20px;
  text-transform: uppercase;
  font-weight:bolder;
}

/* Work Experience
------------------------------------*/
.work {
  background-color: #77b2f4;
}

.col-wide ul {
  margin:0;
}

h3 ~ p {
  margin:0;

}
/* Education
------------------------------------*/

.education {
  /* background-color: rgb(156, 171, 207); */
  background: linear-gradient(rgba(156, 171, 207, 0.8), rgba(156, 171, 207, 0.5)),
              url(../images/education-background.jpg) no-repeat fixed;
  background-size: cover;

}

.education p + h3 {
  margin-top: 10px;
}

/* Media Queries
------------------------------------*/
@media (min-width: 850px) {
  .col-narrow {
    width:30%;
    float: left;
    /* clear:left; */   /*this seems to work yet not used in video */
    min-height: 165px;
    margin-bottom: 10px;
  }

  .col-wide {
    width:70%;
    float: left;
    padding-left: 20px;
    min-height: 165px;
    margin-bottom: 10px;
  }
  h1, h2 {
    font-size: 2em;
  }
}
@media (max-width:899px) {
  header {
    text-align: center;
  }
  .main-profile-img {
    width:200px;
  }
}
