/* Color Palette - temporary comment to make copy paste easier
#220c10 - Licorice (faded black..?)     | #2B2d42 Dark Blue
#77b2f4 - Fresh Sky Blue                | #8D99AE - Light Blue
#506c64 - Storm Cloud (Dark Army Green) | #EDF2F4 - Blue/White
#77cbb9 - Pearl Aqua                    | #EF233C - Red
*/


/* Global styles
------------------------------------*/
html{
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
  margin:0; /* gets rid of default margin around whole page */
}
.content-wrap {
  max-width:950px;
  margin: 0 auto;
  padding: 60px 20px;
  overflow: auto;
}
h1, h2 {
  font-family: 'Lato', sans-serif;
  font-weight:900;
}
h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
  margin-top:0;
}

h3 {
  margin: 0;
}
a {
  color: lightpink;
}
a:hover {
  text-decoration:none;
}

main {
  clear:both;
}

.uppercase {
  text-transform:uppercase;
}

.dload {
  background: red;
  color:white;
  position:fixed;
  padding:10px;
  text-transform: uppercase;
  font-weight:600;
  right:0;
}
.dload:hover {
  background: #EF5237;
  padding:20px;
  font-size: 1.2em;

}

/* Header and Footer
------------------------------------*/

header, footer {
  background-color:grey;
  color:white;
}
/* header */
.main-profile-img {
  border-radius: 50%;
}
header {

}

header h1,
header h2 {
  color:;
  margin:0;
}

/* footer */
footer {
  text-align:center;
}

.contact-info-padding a{
  padding:15px;
  display:inline-block;
}

/* CSS Combinator testing*/
/* h2 + div + p {
  border:5px solid Red;
}

  h2 ~ p {
    border:5px solid purple;
  } */

  /* Navigation
  ------------------------------------*/
nav {
  text-align:center;
  background: white;
  position: fixed;
  top: 0;
  /* width:100%; */
  right: 0;
  left:0;
}
nav a{
  display: inline-block;
  padding: 15px 20px;
  text-transform: uppercase;
  font-weight:bolder;
}

/* Work Experience
------------------------------------*/
.work {
  background-color: #77b2f4;
}

.col-narrow {
  width:30%;
  float: left;
  /* clear:left; */   /*this seems to work yet not used in video */
  min-height: 165px;
  margin-bottom: 10px;
}

h3 ~ p {
  margin:0;

}

.col-wide {
  width:70%;
  float: left;
  padding-left: 20px;
  min-height: 165px;
  margin-bottom: 10px;
}
.col-wide ul {
  margin:0;
}
/* Education
------------------------------------*/

.education {
  background-color: #506c64;
}

.education p + h3 {
  margin-top: 10px;
}
